<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackside - Log Data</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <script src="{% static '/js/script.js' %}"></script>
</head>
<body>
    <div class="container_data">
        <div class="form-container">
            <a href="{% url 'home' %}"><h3 class="h3-home">Back to Home</h3></a>
            <div class="main">
                {% if message %}
                <h1 class="logdata">{{message}}</h1>
                <form action="{% url 'collectdata' %}">
                    <input class="btn-user", type="submit", value="New Entry">
                </form>
                <form action="{% url 'home' %}">
                    <input class="btn-user", style="margin-top: 100px" type="submit", value="Home">
                </form>

                {% else %}
                <h1 class="logdata">Log Data Form</h1>
                <form action="{% url 'collectdata' %}" method="post">
                    {% csrf_token %}
                    <div class="left">
                        <div id="weather">
                            <h3 class="weather">Name</h3>
                            <input class="condition" type="text" name="name" placeholder="Required" required>
                            <label class="label-weather">Test Name</label>
                        </div>
                        <div id="driver">
                            <h3 class="driver">Type</h3>
                            <select name="type" id="type" >
                                {% for type in types %}
                                    <option value="{{type.name}}">{{type.name}}</option>
                                {% endfor %}
                            </select>
                            <label class="label-driver">Test Type</label>
                        </div>
                        <div id="tires">
                            <div id="const">
                                <h3 class="driver">Constant</h3>
                        
                                <div id="constant"> 
                                    <label id="throttle" class="radio_tires" for="used">Throttle</label>
                                    <input type="radio" name="constant" value="0" id="used" onclick="changeColor(true)">
                                </div>
                                <div id="constant">
                                    <label id="rpm" class="radio_tires" for="used">RPM</label>
                                    <input type="radio" name="constant" value="1" id="used" onclick="changeColor(false)">
                                </div>
                            </div>
                            
                        </div>
                        <div id="soft-eng">
                            <h3 class="soft-eng">Throttle</h3>
                            <input class="engine" type="text" name="throttle">
                            <label class="label-engine">Throttle</label>
                        </div>
                        <div id="misc">
                            <h3 class="misc">RPM</h3>
                            <input class="personnel" type="text" name="rpm" placeholder="Required">
                            <label class="label-personnel">RPM</label>
                        </div>
                    </div>
                    <div class="right">
                        <div class="msg">
                            <h3 class="comments">Comments</h3>
                            <textarea placeholder="Message" name="comments"></textarea>
                        </div> 
                        <input style="display: none;" type="text" name="update" value="False">
                        <input class="load" type="text" name="entry_id" style="display: none;">
                        <button type="submit" class="btn-submit">SUBMIT</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>