<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <title>Dyno- View Data</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static '/css/view_data.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Back to Home</a>
    </div>
    <div class="container" align="center">
        <h4>Data entered</h4>
        <table width="75%">
            <tr>
                <td>Test Name</td>
                <td>Test Type</td>
                <td>Constant</td>
                <td>Throttle</td>
                <td>RPM</td>
                <td>Created At</td>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{entry.name}}</td>
                    <td>{{entry.test}}</td>
                    {% if entry.constant %}
                        <td>Throttle</td>
                    {% else %}
                        <td>RPM</td>
                    {% endif %}
                    <td>{{entry.throttle}}</td>
                    <td>{{entry.rpm}}</td>
                    <td>{{entry.date}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>